/* ----------------------------- */
/* CONFIGURAÇÃO GERAL */
/* ----------------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 30px;
}

/* =========== BLOCK ============= */
/* Ocupa toda a largura disponivel (ex: div, p, h1) */
.block {
    display: block;
    background-color: lightblue;
    padding: 15px;
    margin: 5px;
    border: 2px solid blue;
}

/* =========== INLINE ============= */
/* Ocupa apenas o espaço necessário (ex: span, a) */
.inline {
    display: inline;
    background-color: rgba(255, 109, 109, 0.877);
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
}

/* =========== INLINE BLOCK ============= */
/* Ocupa apenas o espaço necessário, mas permite definir largura e altura (ex: img) */
.inline-block {
    display: inline-block;
    width: 120px;
    height: 60px;
    background-color: rgba(255, 109, 109, 0.877);
    padding: 15px;
    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
}
